<h2 class="blog-description">
    {{@blog.description}}

    <span class="blog-links">
        <a href="https://github.com/graze" title="fork us on GitHub" style="color: #000;"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/snack_overflow" title="follow us on Twitter" style="color: #4099ff;"><i class="fa fa-twitter"></i></a>
        <a href="http://www.graze.com/uk/jobs/tech" class="hiring-badge">we're hiring <i class="fa fa-angle-right"></i></a>
    </span>
</h2>
